#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
}


h1 {
  color: #22a2b3;
}

  .inputs{
    height: 100px;
   
    
    
    justify-content: space-around;
    max-width: 1000px;
    margin-left: 30px;
    padding: 20px;

  }

  .email_box{
  padding-left: 40px;
  margin-left: 100px;
  padding-bottom: 20px;
  }
.email_font{
  font-weight: bold;
  font-size: 30px;
}

  .email{
    height: 40px;
    width: 500px;
    border-radius: 10px;
   
   
  }

  .password_box{
    margin-left: 100px;
  }

  .password_font{
    font-weight: bold;
  font-size: 30px;
  }
  .password{
    height: 40px;
    width: 500px;
    border-radius: 10px;
  }
.login_submit_btn{
  font-size: 40px;
  border-radius: 30px;
}

  .container{
    height: 40vh;
    width: 80vw;
    
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:x-large;
  }

  .container_login{
    border: 2px solid transparent;
    box-shadow: 2px 2px 2px 2px #007bff;
    border-radius: 20px;
    padding: 20px;
   
  }

  
  
  