.input{
    height: 190px;
    display: flex;
    flex-direction: column;
    margin-right: 30vw;
    align-items:end;
    justify-content: space-around;
    width: 800px;
  }
  .emails{
    height: 25px;
    width: 500px;
  }
  .passwords{
    height: 25px;
    width: 500px;
  }
  .numbers{
    height: 25px;
    width: 500px;
  }
  .names{
    height: 25px;
    width: 500px;
  }
  .button{
    background-color: rgb(93, 229, 247);
    border-radius: 15%;
  }